@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'creamCake';
  src: url('../public/font/Cream\ Cake.otf');
}

@font-face {
  font-family: 'poppins';
  src: url('../public/font/poppins-extrabold.ttf');
}


body{
  overflow: hidden;
}

#star-path{
  stroke-dashoffset: 280;
  stroke-dasharray: 280;
}

canvas{
  pointer-events: none;
}
#toto{
  pointer-events: none;
}

#titi > div{
  pointer-events: none;
}